*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background-image: url(../image/background-image.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

header{
    display: flex;
    flex-direction: column;
    height: 25vh;
    min-height: 200px;
}

h1{
    font-size: 7rem;
    font-family: 'Satisfy', cursive;
    color: white;
    text-shadow: 5px 5px 20px black;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

input{
    outline: none;
    border: none;
    background-image:none;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
    display: block;
    min-width: 600px;
    border-radius: 20px;
    line-height: 30px;
    margin: 0 auto;
    padding-left: 10px;
}

.wrapper{
    min-height: 70vh;
    background-color: rgba(255, 255, 255, 0.3);
}

.recipe--list{
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: 0 auto; 
}

.receipe{
    display: flex;
    overflow: hidden;
    height: 300px;
    width: 350px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px black; 
    position: relative;
}

img{
    height: 250px;
    width: auto;
    overflow: hidden;
}

h2, h3 {
 padding-left: 10px;
}

h2{
    padding-top: 10px;
}

h3{
    color: gray;
}


.ingredients{
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
    padding: 30px;
    text-align: justify;
    background: rgba(255, 255, 255, .9);
    z-index: -10;
    font-size: 1.2rem;
    line-height: 2rem;
}

.receipe:hover .ingredients{
    z-index: 10;
}


.ingredients p{
    min-height: 80%;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
}