*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background-image: url(/image/background-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    min-height: 100vh;
}

header{
    display: flex;
    flex-direction: column;
    height: 25vh;
    min-height: 200px;
}


h1{
    font-size: 7rem;
    font-family: 'Satisfy', cursive;
    color: white;
    text-shadow: 5px 5px 20px black;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

input{
    display: block;
    min-width: 600px;
    border-radius: 20px;
    line-height: 25px;
    /* border: 1px solid black; */
    box-shadow: none;
    margin: 5px auto;
    padding-left: 10px;
}
.wrapper{
    min-height: 70vh;
    background-color: rgba(255, 255, 255, 0.3);
}

.recipe--list{
    display: flex;
    flex-wrap: wrap;
    max-width: 1360px;
    margin: 0 auto; 
}

.receipe{
    display: flex;
    /* width: 300px; */
    height: 300px;
    margin: 20px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 20px black; 
}

section .img{
    background-image: url(../image/product-1.webp);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 300px;
}

img{
    height: 250px;
    width: auto;
    background-color: gray;
    overflow: hidden;
}

h2, h3 {
 padding-left: 10px;
}

h2{
    padding-top: 10px;
}

h3{
    color: gray;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
}